.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.control{
  margin: 10px;
  padding: 20px;
}

.control.row{
  margin-top: 0;
  margin-bottom: 0;
}

.procesos{
  background-color: rgb(102, 204, 204);
  margin: 0 10px 10px 0;
  padding: 20px;
}

.procesos.row{
  margin-top: 0;
  margin-bottom: 0;
}

.cpu{
  background-color: rgb(255, 224, 102);
  margin: 0 10px 10px 0;
  padding: 20px;
}

.cpu.row{
  margin-top: 0;
  margin-bottom: 0;
}

.memoria{
  background-color: rgb(163, 224, 102);
  margin: 0 10px 10px 0;
  padding: 20px;
}

.memoria.row{
  margin-top: 0;
  margin-bottom: 0;
}

.tablaPaginas{
  background-color: white;
}
